$fontSize: 37.5;
@function px2rem ($px) {
    @return ($px / $fontSize) + rem;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin ellipsis2($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    word-break: keep-all;
}